 @charset "utf-8";

/*New Perspectives on HTML5 and CSS3, 7th Edition
    Tutorial 2
    Case Problem 2
    
    Bike the Mountains Tour
    Author: Jacob West
    Date:   1/16/20

    Filename: mw_style.css
*/


/* Structural Styles */

html {
    background-color: rgb(173, 189, 227);
}

body {
    background-color: rgb(227, 210, 173);
    font-family: Century Gothic, sans-serif;
}

body > footer{
    background-color: rgb(208, 184, 109);
    padding-top: 5px;
    padding-bottom: 5px;
}


address {
    font-style: normal;
    font-size: 0.9em;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Heading Styles */
h1, h2 {
    font-style: normal;  
}


/* Navigation Styles */

nav > ul {
    list-style: none;
    line-height: 2em;
    font-size: 0.9em;
}

nav > ul> li > a {
    text-decoration: none;
    color: rgb(43, 59, 125);
}

nav > ul> li > a:hover {
    color: rgb(212, 35, 35);
}


/* Article Styles */

#tour_summary h1 {
    font-size: 2.2em;
    letter-spacing: 0.2em;
}

#tour_summary p{
    font-size: 1.1em;
}

#tour_summary p:first-of-type:first-line{
    font: small caps;
    font-size: 1.2em;   
}


/* Aside Styles */

#tour_itinerary h2 {
    font-size: 0.9em;
}

#tour_itinerary p {
    font-size: 0.8em;
}

#tour_itinerary p:nth-of-type(odd), #tour_itinerary h2:nth-of-type(odd){
    color: rgb(79, 91, 40);
}

#tour_itinerary p:nth-of-type(even), #tour_itinerary h2:nth-of-type(even){
    color: rgb(81, 95, 175);
}


/* Blockquote Styles */

blockquote {
    background-color: rgb(173, 189, 227);
    color: rgba(255, 255, 255, 0.65)
}

blockquote p {
    padding: 2.5px 10px 2.5px 10px;
    
}

